#Navigation{
    background-color: #006a6a;
    border-bottom: 1px solid #fffcf6be;
}

html
{
    scroll-behavior: smooth;
}

nav{
    transition: 0.4s all;
}

.navbar{
    padding-left: 200px;
    padding-right: 200px;
    border: none;
    transition: 0.7s all;
}

.navbar >a{
    color: rgba(0, 0, 0, 0.762);
    font-size: 30px;
    font-family: 'GFS Didot', serif;
    font-weight: bolder;
}



.navbar ul li a{
    color: #fffcf6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: #064439;
}

nav .Scrolled{
    border-bottom: 1px solid #d2eeea;
    background-color: #083a3a;
}

.navbar button{
    border-radius: 50px;
    background-color: #fffcf6;
    color: #006a6a;
    transition: 0.4s all;
}

.navbar button:hover{
    background-color: #064439;
    color: #fffcf6;
}

#Front-Page{
    background-color: #006a6a;
    padding-bottom: 150px;
}

#Front-Page h1{
    color: #fffcf6;
    font-family: 'GFS Didot', serif;
    font-weight: bolder;
    font-size: 80px;
    /* padding: 5px; */
    /* margin-top: 10px; */
}

#Front-Page h6{
    color: #083a3a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}


#Front-Page form input{
    width: 85%;
    color: #083a3a;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px 20px;
    border: transparent;
    margin: 10px;
    padding: 15px;
}

#Front-Page form button{
    border: transparent;
    color: #fffcf6;
    font-size: 20px;
    border-radius: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px;
    background-color: #083a3a;
    cursor: pointer;
    transition: 0.7s all;
}

#Front-Page form button:hover{
    color: #fffcf6;
    background-color: #064439;
    
}

#Front-Page1 {
    background-color: #0f969c;
    height: 400px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

#Front-Page1 container{
    position: relative;
    
}

#Front-Page1 .Blocks{
    background-color: #fffcf6;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    bottom: -300px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.7s all;
}

#Front-Page1 .Blocks:hover{
   transform: translateY(-3px);
}

#Front-Page1 .Blocks h5{
    font-size: 30px;
    color: #006a6a;
    padding: 20px 0 0 20px;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
}

#Front-Page1 .Blocks p{
    font-size: 20px;
    color: #083a3a;
    padding: 0 20px 0px 20px;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
}

#Front-Page1 .Blocks .Bagdes{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    border-radius: 10px;
    color: #fffcf6;
    background-color: #083a3a;
    padding: 5px;
    margin: 15px;

}


#Front-Page1 .Blocks img{
    width: 300px;
    height: 200px;
    text-align: center;
}

.Blocks .Block2{
    position: relative;
    /* overflow: hidden; */
    z-index: 1;
}



.Blocks .Block2::after{
    position: absolute;
    content: "";
    background: url("Images/businesswoman-using-tablet-analysis.jpg") no-repeat center center/cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.Block2 .btn{
    background-color: #006a6a;
    width: 150px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: #fffcf6;

}

.Block2 div{
    color: #0f969c;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.Block2 a{
    margin-top: 30px;
    color: #0f969c;
    padding: 10px;
    font-size: 20px;
    transition: 0.4s all;
}

.Block2 a:hover{
   color: #083a3a;
}

#section_2{
    background-color: #fffcf6;
}

#section_2 h1{
    color: rgba(0, 0, 0, 0.762);
    font-size: 60px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}

#section_2 ul{
    margin-top: 20px;
   display: flex;
   justify-content: center;
}

#section_2 ul li a{
    padding: 20px;
    font-size: 25px;
    transition: 0.7s all;
    cursor: pointer;
}

#section_2 ul li a:hover{
    border-bottom: 1px solid #083a3a;

}

nav{
    border-bottom: 1px solid black;
}


#section_2{
    background-color: whitesmoke;
    height: 800px;
}


#section_2 .Card{
    background-color: #fffcf6;
    height: 400px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 20px 23px 25px 10px gainsboro;
}

#section_2 .Card h5{
    font-size: 30px;
    color: #006a6a;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
}

#section_2 .Card p{
    font-size: 20px;
    color: #083a3a;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
}

#section_2 .Card span{
    font-size: 15px;
    color: #fffcf6;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    background-color: #083a3a;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
}

#section_2 .Card img{
    width: 300px;
    height: 200px;
    text-align: center;
}

#TimeLine{
    position: relative;
}

#TimeLine::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    background: url("Images/colleagues-working-cozy-office-medium-shot.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.3;
}

#TimeLine h1{
    margin: 50px;
    color: rgba(0, 0, 0, 0.762);
    font-size: 60px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}

#TimeLine .Wrapper .rows{
    display: flex;
}

#TimeLine .Wrapper .rows section{
    text-align: center;
    width: 500px;
    position: relative;
    background-color: #fffcf6;
    margin-bottom: 80px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 20px 23px 25px 10px gainsboro;
}




#TimeLine .Wrapper .rows section .icon{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #0f969c;
    line-height: 40px;
    top: 13px;
    color: #fffcf6;
    right: -90px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}


#TimeLine .Wrapper .center-line{
    position: absolute;
    height: 75%;
    width: 4px;
    background-color: #0f969c;
    left: 50%;
    transform: translateX(-50%);
} 


#TimeLine .Wrapper .rows section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #083a3a;
    right: -7px;
    top: 28px;
    transform: rotate(45deg);
    z-index: -1;
}

#TimeLine .Wrapper .rows section .Details{
    padding: 10px;
}

#TimeLine .Wrapper .rows section .Details h4{
    font-size: 20px;
    color: #006a6a;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
}

#TimeLine .Wrapper .rows section .Details p{
    color: #006a6a;
    font-family: 'Times New Roman', Times, serif;
}

#Questions{
    background-color: #fffcf6;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Questions h1{
    color: rgba(0, 0, 0, 0.762);
    font-size: 60px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}



#Questions img{
    width: 500px;
    height: 400px;
    object-fit: contain;
}

#Questions img{
    width: 500px;
    height: 400px;
    object-fit: contain;
}

#Questions .btns-group{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#Questions .btn{
    margin: 10px;
    width: 100%;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background: transparent;
    color: #006a6a;
    font-weight: bold;
}

#Directions{
    background-color: #d2eeea;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Directions h1{
    color: rgba(0, 0, 0, 0.762);
    font-size: 60px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
    text-align: center;
}

#Directions iframe{
    border-radius: 20px;
}

#Directions .Directions-Heading{
    color: rgba(0, 0, 0, 0.762);
    font-size: 30px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}

#Directions .Directions-Para{
    color: rgba(0, 0, 0, 0.762);
    font-size: 20px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
}

#Directions .Directions-span{
    color: #083a3a;
    font-size: 15px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
}

footer{
    background-color: #fffcf6;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #006a6a transparent;
  pointer-events: none;
}

footer .Company-Name a{
    color: rgba(0, 0, 0, 0.762);
    font-size: 30px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
}

footer h6{
    color:#064439;
    font-size: 25px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}

footer .Links li{
    list-style: none;
}

footer .Links li a{
    text-decoration: none;
    color:#006a6a;
    font-size: 15px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}

footer .Information span{
    color:#006a6a;
    font-size: 15px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}

footer .Spans span{
    color:#006a6a;
    font-size: 15px;
    font-family: 'GFS Didot', serif;
    padding: 5px;
    font-weight: bolder;
}



































